* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: "Lato", Helvetica, Arial;
  font-size: 15px;
  display: flex;
  min-height: 100vh;
}
.models {
  display: none;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  background-color: #399ade;
  display: none;
  justify-content: fl;
  align-items: center;
}

.AddButton {
  width: 100%;
  display: inline-block;
}
