* {
}
body {
  background-color: rgb(54, 82, 208);
  font-family: "Lato", Helvetica, Arial;
  display: flex;
}

div .MuiBox-root.css-z2t1k2 {
  width: 100%;
}
.models {
  display: flex;
}

.AddButton {
  width: 100%;
  display: inline-block;
}
