.flex {
  display: flex;
  flex-wrap: wrap;
}

main {
  text-align: center;
}
.header .toggle {
  font-size: 23;
}

.Grade {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  grid-gap: 20px;
}

.GradeItem {
  flex-grow: 1;
  display: grid;
  justify-content: space-around;
}

body {
  display: grid;
  background: none;
}

.AddButton {
  max-width: 100%;
}
