.flex {
  display: flex;
  flex-wrap: wrap;
}

main {
  background-color: rgb(57, 54, 208);
  text-align: center;
}
main Button {
  float: right;
}

.GradeItem {
  display: flex;
  justify-content: space-around;
  grid-gap: 20px;
  flex-wrap: wrap;
}

body {
  display: grid;
  background: none;
}

.AddButton {
  max-width: 100%;
}

.Description {
  width: 300px;
  align-items: center;
}
