.flex {
  display: flex;
  flex-wrap: wrap;
}

.header {
  text-align: center;
}
.header .toggle {
  font-size: 23;
}

.Grade {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.o-footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}
